[user]
	name = Dominic Dang
	email = dtdd1153@live.com
[core]
	editor = vim
[alias]
	edit = add
	opened = status
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[include]
	path = ~/.gitconfig-local