[user]
	name = Dominic Dang
	email = dtdd1153@live.com
[core]
	editor = vim
[alias]
	edit = add
	opened = status
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[includeIf "gitdir:/opt/homebrew/bin"]
	path = ~/.gitconfig-mac-m1
[includeIf "gitdir:/usr/local/bin"]
	path = ~/.gitconfig-mac-intel